fastapi
uvicorn[standard]
pydantic>=2.0
python-dotenv
langchain>=0.2
langgraph>=0.2
langchain-groq
langchain-core
sse-starlette
requests
duckduckgo-search
python-jose[cryptography]
httpx
slowapi
recipe-scrapers
pint
motor
pymongo[srv]
ruff
